{% extends 'layout.twig' %}

{% block body %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            enableNewMessageNotifications('{{ address }}', true, '{{ baseUrl }}')
        });
    </script>

    <div style="float: right"><a href="{{ baseUrl }}/login"> logout</a></div>
    <h1>{{ address }}</h1>
    {% for mail in mailSummaries %}
        <a href="{{ baseUrl }}/{{ mail.to[0] }}/{{ mail.uid }}" class="no-link-color">
            <blockquote class="email">
                <h6 class="list-group-item-heading">
                    {{ mail.from[0].name }}
                    <span class="text-muted">{{ mail.from[0].address }}</span>
                    <small class="float-right">{{ mail.date |date }}</small>
                </h6>
                <p class="list-group-item-text text-truncate" style="width: 75%">
                    {{ mail.subject }} </p>
                </div>

            </blockquote>
        </a>
    {% endfor %}

    {% if not mailSummaries %}
        <blockquote>
            There are no mails yet.
        </blockquote>
    {% endif %}


{% endblock %}
